.belt {
  button {
    width: 9rem;
    border: none;
    border: 1px solid var(--main-color);
  }
  button.active {
    background-color: var(--main-color);
    color: white;
    transition: 0.2s;
  }
}
