.sectionTitle .title-title {
  color: var(--main-color);
  position: relative;
}
.sectionTitle .title-title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -4rem;
  transform: translateY(-50%);
  height: 2px;
  width: 3rem;
  background-color: var(--main-color);
}
.sectionTitle .title-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -4rem;
  transform: translateY(-50%);
  height: 2px;
  width: 3rem;
  background-color: var(--main-color);
}
