*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.travelGuideSection .line {
    width: 50px;
    height: 3px;
    background-color: black;
    margin-top: 0.65rem;
}
.travelGuideSection img {

    transition: transform 0.4s ease-in;
}

.travelGuideSection .guider:hover img {
    transform: scale(1.1);
    transition: transform 0.4s ease-in;
}
.travelGuideSection .img-container::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    
}
.travelGuideSection .guider:hover .img-container::after {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.travelGuideSection .guiderDesc::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.travelGuideSection .guider:hover .guiderDesc::after {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.travelGuideSection .guider a {
    transition: .5s;
}
.travelGuideSection .guider a:hover {
    background-color: white !important;
    color: black !important;
    transition: .5s;
}



.AboutUsDescSection img {
    border: 50px solid;
    border-color: transparent #13357B transparent #13357B;
}
.AboutUsDescSection h5::after {
    content: "";
    width: 3.5rem;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    left: 110px;
}
.AboutUsDescSection .ReadMoreLink  {
    transition: .5s;
}
.AboutUsDescSection .ReadMoreLink:hover {
    background-color: white !important;
    color: black !important;
    transition: .5s;
}


/* Our Services start */
.OurServicesSection .icon {
    font-size: 13rem;
    height: 9rem;
}

.OurServicesSection .serviceBox,
.OurServicesSection .serviceBox .icon,
.OurServicesSection .serviceBox p {
    transition: 0.5s;
}

.OurServicesSection .serviceBox:hover {
    background-color: #6c757d !important;
    color: white !important;
    transition: 0.5s;
}
.OurServicesSection .serviceBox:hover .icon {
    color: white !important;
    transition: 0.5s;
}
.OurServicesSection .serviceBox:hover p {
    color: white !important;
    transition: 0.5s;
}
.OurServicesSection button {
    transition: .5s;
}
.OurServicesSection button:hover {
    background-color: white !important;
    color: black !important;
    transition: .5s;
}



/* Testimonial start */
/* Centered layout */
/* .testimonial-section {
  position: relative;
} */

/* Card design */
.testimonial-card {
  transition: all 0.3s ease;
}
.testimonial-card .card-content {
  background: #f1f1f1;
  color: #000;
  position: relative;
  transition: 0.3s ease;
}
.slick-center .testimonial-card .card-content {
  background: #0a2e72;
  color: #fff;
}
.slick-center .testimonial-card .card-content img {
  border-color: #fff;
}


/* Client image */
.client-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px dotted #0a2e72;
  object-fit: cover;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

/* Arrows */
.arrow-btn {
  position: absolute;
  top: 40%;
  z-index: 2;
  background: transparent;
  border: 2px solid #0a2e72;
  color: #0a2e72;
  font-size: 1.5rem;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.arrow-btn:hover {
  background: #0a2e72;
  color: #fff;
}
.arrow-btn.prev {
  left: -70px;
}
.arrow-btn.next {
  right: -70px;
}

/* Dots customization */
.slick-dots {
  bottom: -35px;
}
.slick-dots li button:before {
  font-size: 12px;
  color: #0a2e72;
  
  opacity: 0.4;
}
.slick-dots li.slick-active button:before {
  color: #0a2e72;
  opacity: 1;
}
@media (max-width: 768px) {

  .arrow-btn {
    display: none !important;
  }
}



/* Testimonial end */



/* Our Services end */

/* Testimonial Section */
/* .testimonial-card {
  min-height: 220px;
  position: relative;
  overflow: visible;
}

.client-img {
  width: 80px;
  height: 80px;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  border: 3px solid white;
  background-color: #fff;
}

.slick-slide {
  opacity: 0.6;
  transition: all 0.4s ease;
}

.slick-center {
  opacity: 1;
  transform: scale(1.05);
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #007bff;
  opacity: 1;
}
.testimonial-card p {
  font-style: italic;
}
.testimonial-card h5 {
  margin-top: 50px;
  font-weight: bold;
} */
/* Testimonial Section End */