.contact{
    background-color: var(--secondery-color);
    .contact-contact .icon i{
        color: var(--main-color);
        font-size: 3.5rem;
    }
    .contact-contact .right{
        .field{
            width: fit-content;
            position: relative;
            label{
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
                transition: 0.1s;
            }
            textarea + label{
                top: 15%;
            }
            input:not(:placeholder-shown) + label,textarea:not(:placeholder-shown) + label,input:focus + label ,textarea:focus + label{
                top: 1rem;
                font-size: .8rem;
                color:#a7acb1;
            }
            input,textarea{
                outline: none !important;
                border: none !important;
                transition-duration: 0.1s;
                resize: none;
            }
            input:focus,textarea:focus{
                box-shadow: 0 0 0 .25rem rgba(19, 53, 123, .25);
            }
        }
        .fourthRow{
            button{
                outline: none !important;
                color: white;
                background-color: var(--main-color) !important;
                border: 1px solid var(--main-color) !important;
                position: relative;
                z-index: 2;
                overflow: hidden;
                transition-duration: 0.5s;
            }
            button::after{
                content: "";
                position: absolute;
                top: 0rem;
                right: 0rem;
                width: 100%;
                height: 100%;
                background-color: var(--main-color);
                z-index: -1;
                border-radius: 0.5rem;
                transition: 0.3s;
            }
            button:hover::after{
                width: 0;
            }
            button:hover{
                color: var(--main-color);
                background-color: transparent !important;
            }
        }

    }
}
