.row>*{
    padding-left:0.5rem !important;
    padding-right:0.5rem !important;
}

.photos {
    img{
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        transition-duration: 0.2s;
    }
    .img-cont{
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .seePhoto{
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: 0.2s;
            cursor: pointer;
            z-index: 5;
            overflow: hidden;
            i{
                color: white;
                z-index: 5;
                transition-duration: 0.5s;
                font-size: 5rem;
            }
        }
        .imgDesc{
            transition: 0.2s;
            bottom: -4rem;
            left: 1rem;
            z-index: 5;
        }
    }
    .img-cont::after{
        content: "";
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        transition-duration: 0.5s;
    }
    .img-cont:hover::after{
        background-color: rgba(19, 53, 123, .5);
    }
    .img-cont:hover{
        > img{
            scale: 1.2;
        }
        .seePhoto{
            opacity: 1;
        }
        .imgDesc{
            bottom: 1rem;
        }
    }
    
}

.bgCard{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.imgCard{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:10;
    width:80%;
    img{
        width: 100%;
    }
}
@media screen and (min-width:1200px) {
    .imgCard{
        width: 50%;
    }
}