.belt {
    button {
        width: 9rem;
        border: none;
        border: 1px solid var(--main-color);
    }
    button.active {
        background-color: var(--main-color);
        color: white;
        transition: 0.2s;
    }
}

.photos {
    img{
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        transition-duration: 0.2s;
    }
    .img-cont{
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .seePhoto{
            top:1rem;
            right: -5rem;
            transition: 0.2s;
            cursor: pointer;
            z-index: 5;
            background-color: var(--main-color) !important;
            i{
                color: var(--main-color);
                z-index: 5;
                transition-duration: 0.5s;
            }
            overflow: hidden;
        }
        .seePhoto::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 50rem;
            background-color: white;
            transition-duration: 0.5s;
        }
        .imgDesc{
            transition: 0.2s;
            bottom: -4rem;
            left: 1rem;
            z-index: 5;
        }
    }
    .img-cont::after{
        content: "";
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        transition-duration: 0.5s;
    }
    .img-cont:hover::after{
        background-color: rgba(19, 53, 123, .5);
    }
    .img-cont:hover{
        > img{
            scale: 1.2;
        }
        .seePhoto{
            right: 1rem;
            display: block;
        }
        .imgDesc{
            bottom: 1rem;
        }
    }
    .seePhoto:hover::after{
        right: -10rem;
        top: 10rem;
        opacity: 0;
    }
    .seePhoto:hover{
        i{
            color: white;
        }
    }
}
