.belt {
    button {
        width: 9rem;
        border: none;
        border: 1px solid var(--main-color);
    }
    button.active {
        background-color: var(--main-color);
        color: white;
        transition: 0.2s;
    }
}

.photos {
    .image{
        padding-bottom: 1.5rem;
    }
    img {
        width: 300px;
        height: auto;
        object-fit: cover;
        border-radius: 10px; /* اختياري لتنعيم الحواف */
    }
}
