.headSection {
  background-image: url("images/ChatGPT\ Image\ Nov\ 9\,\ 2025\,\ 02_27_39\ PM.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 6rem 0 4rem;
  h1 {
    font-size: 3.5rem;
    z-index: 5;
    position: relative;
  }
  .route {
    font-size: 1.1rem;
    z-index: 5;
    position: relative;
    .link {
      color: #e6a770 !important;
    }
  }
}
.headSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--main-color) 50%, transparent);
}
